*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.header {
  position: relative;
  height: 8vh;
  background-color: #34485d; }
  .header-main {
    display: flex;
    height: 100%; }
    .header-main a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-size: .8rem;
      margin-left: 20px; }
    .header-main__primary {
      position: relative;
      top: 5px;
      left: 2rem; }
      .header-main__primary a {
        position: relative;
        left: 3rem; }
      .header-main__primary-image {
        position: relative;
        height: 4vh;
        top: .5rem;
        left: 3rem; }
    .header-main__secondary {
      text-align: right;
      width: 50%; }
      .header-main__secondary a {
        display: inline-block;
        position: relative;
        top: 1.35rem; }

.section {
  display: flex;
  width: 100%;
  height: 75vh; }
  .section-main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 6rem; }
  .section-about {
    display: flex;
    flex-flow: column;
    justify-content: center; }
    .section-about__primary-span {
      display: flex;
      flex-flow: column;
      padding-bottom: 0.8rem;
      font-size: 3.5rem;
      color: #34485d;
      letter-spacing: 1px; }
      .section-about__primary-span:first-child {
        font-weight: normal; }
    .section-about_btn {
      display: inline-block;
      position: relative;
      border-radius: 3px;
      text-decoration: none;
      width: 40%;
      height: 2rem;
      text-transform: uppercase;
      background-color: #FC3367;
      color: white;
      margin-top: 30px;
      text-align: center;
      padding-top: 15px;
      transition: all .2s; }
      .section-about_btn:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 .2rem .5rem gray; }
    .section-about_sub {
      width: 50%;
      display: flex;
      flex-flow: column;
      justify-content: center; }
      .section-about_sub-image {
        width: auto;
        height: 40rem; }
  .section-secondary__paragraph {
    font-size: 1.5rem;
    color: #34485d;
    letter-spacing: 1px; }

.section-media {
  width: 100%;
  height: 75vh;
  background-color: #34495C; }
  .section-media-primary {
    margin-left: 16rem;
    margin-right: 16rem;
    height: 100%;
    text-align: center;
    position: relative;
    top: 11rem; }
    .section-media-primary__title {
      color: white;
      font-size: 3.5rem; }
    .section-media-primary__paragraph {
      color: white;
      margin-top: 2rem;
      font-size: 1.3rem;
      line-height: 2rem;
      letter-spacing: 0; }
    .section-media-primary__arrow {
      transform: rotate(-90deg);
      width: 1.5rem;
      margin-top: 2rem;
      transition: all .2s; }
      .section-media-primary__arrow:hover {
        width: 1.8rem;
        cursor: pointer; }

.socialmedia-about-header {
  font-size: 3rem; }

.socialmedia-about-paragraph {
  font-size: 1.15rem;
  line-height: 2rem;
  letter-spacing: 0; }

.socialmedia-about_btn {
  background-color: white;
  color: gray;
  border: 1px solid lightgray;
  width: 12rem;
  font-size: .8rem;
  padding-top: 20px; }

.instagram {
  display: flex;
  flex-flow: row-reverse;
  border-top: 1px solid gray; }
  .instagram-about {
    margin-right: 6rem;
    margin-left: 0; }

.youtube {
  border-top: 1px solid gray; }

.section-reviews {
  width: 100%;
  height: 75vh;
  background-image: url("../Assets/Client Logos and Media/BG_Hills_Banner.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex; }
  .section-reviews-primary {
    display: flex;
    justify-content: center;
    margin-left: 6rem;
    margin-right: 6rem; }
    .section-reviews-primary__logo {
      width: 12rem; }
    .section-reviews-primary-main {
      display: flex;
      flex-flow: column;
      justify-content: center; }
      .section-reviews-primary-main__paragraph {
        color: white;
        margin: 0 3rem; }
        .section-reviews-primary-main__paragraph:last-child {
          margin-top: 2.7rem; }
    .section-reviews-primary__arrow1 {
      width: 1rem;
      margin-bottom: 1rem;
      transition: all .1s; }
      .section-reviews-primary__arrow1:hover {
        width: 1.2rem;
        cursor: pointer; }
    .section-reviews-primary__arrow2 {
      transform: rotate(180deg);
      width: 1rem;
      margin-bottom: 1rem;
      transition: all .1s; }
      .section-reviews-primary__arrow2:hover {
        cursor: pointer; }

.section-getStarted {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  height: 75vh; }
  .section-getStarted-title {
    text-align: center;
    margin-left: 12rem;
    margin-right: 12rem; }
    .section-getStarted-title__header {
      font-size: 2.5rem;
      color: #34485D;
      margin-bottom: 2rem; }
  .section-getStarted-main {
    text-align: center;
    margin-left: 12rem;
    margin-right: 12rem; }
    .section-getStarted-main__para {
      font-size: 1.2rem;
      color: #34485D; }
  .section-getStarted-sub {
    text-align: center;
    margin-left: 12rem;
    margin-right: 12rem; }
    .section-getStarted-sub_btn {
      width: 32%;
      height: 1.8rem;
      font-size: .8rem; }

@media (max-width: 375px) {
  .header {
    width: 100%; }
    .header-main {
      position: relative; }
      .header-main__primary a {
        opacity: 0; }
      .header-main__primary-image {
        position: relative;
        top: .6rem;
        left: 4.5rem; }
      .header-main__secondary {
        opacity: 0; }
  .section {
    height: 75vh;
    display: flex;
    flex-flow: column-reverse; }
    .section-main {
      height: 32.5vh;
      margin-left: 1rem;
      margin-right: 1rem; }
    .section-about__primary-span {
      display: flex;
      font-size: 1.5rem;
      padding-bottom: 0;
      letter-spacing: 0; }
    .section-about_sub {
      width: 100vw; }
      .section-about_sub-image {
        width: auto;
        height: 20rem; }
    .section-secondary__paragraph {
      font-size: 1rem; }
  .section-media-primary {
    margin-left: 2rem;
    margin-right: 2rem;
    top: 10rem; }
    .section-media-primary__title {
      font-size: 1.2rem; }
    .section-media-primary__paragraph {
      font-size: .8rem; }
    .section-media-primary__arrow {
      width: 1rem; }
  .socialmedia-about-header {
    font-size: 1.2rem; }
  .socialmedia-about-paragraph {
    font-size: .8rem;
    line-height: 1.2rem; }
  .socialmedia-about_btn {
    width: 12rem;
    padding-top: 20px; }
  .section-reviews-primary {
    margin-left: 1rem;
    margin-right: 1rem; }
    .section-reviews-primary__logo {
      width: 6rem; }
    .section-reviews-primary-main__paragraph {
      margin: 0 1.5rem; }
    .section-reviews-primary__arrow1 {
      width: .6rem; }
    .section-reviews-primary__arrow2 {
      width: .6rem; }
  .section-getStarted-title {
    margin-left: 2rem;
    margin-right: 2rem; }
  .section-getStarted-main {
    margin-left: 2rem;
    margin-right: 2rem; }
  .section-getStarted-sub {
    margin-left: .8rem;
    margin-right: .8rem; } }
